
@{
    ViewData["Title"] = "Yetki";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Hata Sayfası</h1>
            </div>
            <div class="col-sm-6">
               
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="error-page">
        <h2 class="headline text-warning"> !</h2>

        <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-warning"></i> Bu sayfaya erişim yetkiniz bulunmamakta.</h3>

            <p>
                Anasayfaya dönmek için <a href="/">Tıklayınız</a> 
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>
<!-- /.content -->
